.demo {
    background-color: yellow;
    .TestChild {
        background-color: red;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 60px;
        h1 {
            font-size: 30px;
            color: white;
        }
    }
}

.errorInput {
    color: red;
}

.testparent {
    margin-top: 60px;
    height: auto;
    background: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .testchild {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 300px;
        &.react {
            background: red;
        }
        .changename {
            h2 {
                color: white;
            }
            button {
                margin: 10px;
            }
        }
        .changeinput {
            display: flex;
            gap: 30px;
        }
    }
}

.demo_useeffect {
    height: 900px;
    margin-top: 60px;
    padding-left: 20px;
    .srcollY {
        position: fixed;
        bottom: 50px;
        left: 20px;
        z-index: 999999;
        background-color: red;
        color: wheat;
    }
}